<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">App-One</h1>
    <p class="lead">I set out to write about the stars, a universe so far and close that the soul can taste the delight of tomorrow. 
    The milkyway, dripping with its sweetness, the planets reflecting that shimmery light to eachother. Surely the planets live better
    than us mere mortals.</p>
    <hr class="my-4">
    <p>Write your own story:</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-light text-secondary" %>
    Or
    <%= link_to "Login", login_path, class: "btn btn-light text-secondary" %>
  </div>
</div>